body{
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0f2f7;
    display: grid;                
    grid-template-columns: 1fr 250px; 
    grid-gap: 20px;
    min-height: 100vh;         
}

header{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    grid-column: 1 / span 2; 
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #b2ebf2;
}

.logo{
    font-size: 32px;
    font-style: italic;
    font-weight: bold;
    color: #f06292;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li{
    margin-left: 20px;
    font-weight: 500; 
}

main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    grid-gap: 20px;
    padding: 20px;  
}

.craft-item{ 
    text-align: center;
}
.craft-item img{
    border-radius: 10px; 
}

.item img, 
.projects img{
    border-radius: 10px; 
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.item img:active, 
.projects img:active{
    transform: scale(2);
}

aside{
    background-color: #fff;
    padding: 20px;
    border-left: 1px solid #b2ebf2;
}

.updates,.projects{
    background-color: #b2ebf2;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px; 
}

.updates h2,.projects h2{
    color: #f06292;
    font-size: 24px;
    margin-bottom: 10px;
}
